*{
    margin : 0;
    padding : 0;
}
.timetable {
    position: absolute;
    margin: 0px;
    width: 360px;
    height: 480px;
    font-size: 1.2em;
    /* background: rgba(2,2,2,0.2); */
    /* color: #444; */
    text-align: center;
}
.datetable {
    position: absolute;
    margin: 0px;
    width: 360px;
    height: 480px;
    font-size: 1em;
    /* background: rgba(2,2,2,0.2);*/
    /* color: #444; */
    text-align: center;
}

